ion-content{
    ion-item {
        ion-label {
            p.visitor_company{
                font-size: 24px;
                color: black;
            }
            p.visitor_name{
                font-size: 18px;
                color: black;
            }
            p.visitor_time{
                font-size: 16px;
            }
        }
        
        .list_icon{
            margin-right: 20px;
        }

        app-star-rating {
            width: 100%;
            margin-bottom: 5px;
            margin-top: 5px;
            margin-left: -6px;
        }
    }

    ion-item#tagsContainer {
        div{
            margin-bottom: 8px;
            margin-top: 3px;
        }

        h5 {
            font-size: 14px;
            margin-bottom: 5px;
            margin-top: 12px;
        }

        p.tags{
            border-radius: 3px;
            margin: 5px;
            margin-left: 0px;    
            background: var(--ion-color-primary);
            padding: 5px 8px;
            color: #fff;
            display: inline-block;
        }
    }

    ion-item.infoItem {
        ion-label {
            h5 {
                font-size: 13px;
                margin-bottom: 5px;
                color: var(--ion-color-primary);
            }

            h2 {
                font-size: 1em;
            }

            p {
                font-size: 1em; 
            }
        }
    }
}