ion-content{
  text-align: center;
  background: transparent !important;
  display: none 
}

/*
ion-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
*/