ion-content{
    text-align: center;

    .img_logo{
        width: 60%;
        max-width: 256px;
        border-radius: 20px;    
        margin-top: 20px;
        margin-bottom: 20px;
    }
      
    /*
    .btn_forgot{
        color: cornflowerblue;
        margin-top: 10px;
        margin-bottom: 10px;
        text-transform: none;
    }
    */
}

/*
.footer-md:before{
    height: 0px;
}
*/