<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="scan" (click)="prepareScan()">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Liste</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="export">
      <ion-icon name="cloud-upload-outline"></ion-icon>
      <ion-label>Export</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Paramètres</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
