<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="scanService.scansList.length == 0">
      Liste des fiches visiteurs
    </ion-title>
    <ion-title *ngIf="scanService.scansList.length == 1">
      1 fiche visiteur
    </ion-title>
    <ion-title *ngIf="scanService.scansList.length > 1">
      {{ scanService.scansList.length }} fiches visiteurs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" *ngIf="scanService.scansList.length == 0">
        Liste des fiches visiteurs
      </ion-title>
      <ion-title size="large" *ngIf="scanService.scansList.length == 1">
        1 fiche visiteur
      </ion-title>
      <ion-title size="large" *ngIf="scanService.scansList.length > 1">
        {{ scanService.scansList.length }} fiches visiteurs
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item detail *ngFor="let scan of scanService.scansList; let scanIndex=index" (click)="scanService.openScan(scanIndex)">
      <ion-label>
        <h2>{{ scan.firstname }} {{ scan.lastname }}</h2>
        <h3>{{ scan.company }}</h3>
        <p>{{ scan.from.name }} ({{ scan.from.position }}) {{ scan.timestamp.seconds * 1000 | date:'medium' }}</p>
      </ion-label>

      <ion-note mode="ios" slot="end">
        <span *ngIf="!scan.metadata.hasPendingWrites" class="dot success" name="sync-outline">&nbsp;</span>
        <span *ngIf="scan.metadata.hasPendingWrites" class="dot warning" name="sync-outline">&nbsp;</span>
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>