/*
.header-color{
    --background: var(--header-color);
  }
ion-footer{
    padding: 10px;
    background-color: white;
}
.footer-md:before{
    height: 0px;

}
.btn_register{
  color: white;
}
.export_text{
  padding: 20px;
  text-align: center;
}
.p_or{
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: var(--color_red_gray);
}
*/